

.App-logo {
  height: 40vmin;

}

.App-header {
  background-color: #e4e8f0;
  
  
  background-image: url(a.jpg);
 /* image-orientation: inherit;*/
 background-position: center;
  background-repeat: no-repeat;
  
    background: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#App-link {
  
text-align: top;
color: black;
border: 1px solid rgb(117, 112, 112);
padding: 300px 1px 200px  8px ;
  background-color: white;
  box-sizing: border-box;
  max-width: 600px;
  max-height: 600px;
  line-height: 2;
  word-spacing: 3px;
  /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
  
  
 
  
  


}

