

.App-logo {
  height: 40vmin;

}

.App-header {

  
  border-image-width: initial;
  background-image: url(aa.jpg); 
  
 /* image-orientation: inherit;*/
 background-position: center;
  background-repeat: no-repeat;

    background: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  

}

#App-link {
  
 text-align: top;
 color: white;
  box-sizing: border-box;
  max-width:600px;
  max-height:600px;
  line-height:2;
  word-spacing:3px;
  font-family: cursive;
  vertical-align:center;
  text-transform: capitalize;
  
  background-color:rgba(214, 103, 214, 0.5);
 
}

 img {
  width: 40px;
  
}
#play_button {
  position:absolute;
  transition: .5s ease;
  bottom: 200px;
  left: 1000px;
  
}
